body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 20px;
  margin-top: 90px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px;
  border-radius: 5px;
  transition: background 0.3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sidebar {
  width: 190px;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

a:hover {
  background-color: lightgray;
  transition: 2s ease;
  border-radius: 5px;
  padding: 5px;
}

.home-section {
  margin-left: 300px;
  padding: 30px;
}
/*Announcement Section*/
.ann-section h1 {
  text-align: center;
  margin-left: 700px;
  padding: 30px;
}

.ann-image img {
  align-items: center;
  margin-top: 120px;
  border-radius: 12px;
  box-shadow: 0 0 2px solid black;
}

.posting-section {
  margin-left: 300px;
  padding: 30px;
}

.app-section {
  margin-left: 300px;
  padding: 30px;
}

.about-section {
  margin-left: 300px;
  padding: 30px;
}

/*POST SECTION*/
.container {
  max-width: 600px;
  margin: 100px auto;
  background-color: white;
  margin-left: 520px;
  padding: 30px 35px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

textarea {
  width: 80vh;
  height: 300px;
  padding: 20px;
  font-size: 16px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

input[type="file"] {
  margin-bottom: 10px;
}

button {
  background-color: #1877f2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0f65d2;
}

.post {
  max-width: 500px;
  margin: 70px auto;
  background: #f0f0f0;
  padding: 15px;
  border-radius: 10px;
  margin-left: 700px;
}
.post img {
  max-width: 100%;
  margin-top: 10px;
  margin-left: 700px;
}
